<!DOCTYPE html>
<html>
  <%- include ./parts/head %>
  <body>
    <h1><%= title %></h1>
    <%- include ./parts/login %>
    <%- include ./parts/header %>

    <form method="post" action="/member/modify">
        <label for="name">email:</label>
        <input type="text" id="email" name="email" value="<%=results.email%>" readonly><br><br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password"  value="<%=results.pwd%>"><br><br>
        <label for="password">name:</label>
        <input type="text" id="name" name="name"  value="<%=results.name%>"><br><br>
        <label for="grade">grade:</label>
        <input type="text" id="grade" name="grade" value="<%=results.grade%>"><br><br>
        <label for="phone">phone:</label>
        <input type="text" id="phone" name="phone" value="<%=results.phone%>"><br><br>

        <button type="submit" value="Submit">Submit</button>
        <button type="reset" value="Reset">Reset</button>
        <input type="button" onclick="location.href='http://10.122.0.78:3000';" value="Cancle" />
    </form>
    
    <p>Welcome to network and database textbook <%= title %></p>
  </body>
</html>