<% include ./parts/head %>
<body>
    <% include ./parts/header %>
    <div>
        <fieldset>
            <legend>나의 대출 정보</legend>
            <!--요청 처리 결과에 따라 달라짐-->
            누적 대여 횟수: 32건 <br>
            대출 현황: 2/5건 대출가능
            <table>
                <tr><th>도서번호</th><th>도서명</th><th>저자</th><th>출판사</th><th>대출일시</th><th>반납일시</th><th>연체일수</th><th>반납 상태</th></tr>
                <% rentBookList.forEach((element) => { %>
                    <tr>
                        <td><%=element.book_code%></td>
                        <td><%=element.book_name%></td>
                        <td><%=element.author%></td>
                        <td><%=element.publisher%></td>
                        <td><%=element.rent_datetime.toISOString().slice(0, 19).replace('T', ' ')%></td>
                        <td><%=element.return_datetime == null ? element.return_datetime : element.return_datetime.toISOString().slice(0, 19).replace('T', ' ')%></td>
                        <td>연체일</td>
                        <% if(element.return_datetime == null){ %>
                            <td><a href="/book/returnBook/<%=element.book_code%>">반납%></a></td>
                        <% }else{ %>
                            <td>완료</td>
                        <% } %>
                    </tr>
                <% }); %>
            </table>
        </fieldset>
        <form action="/member/modify" method="post">
            <fieldset>
                <legend>회원 정보</legend>
                성명    <input type="text" id="name" name="name"  value="<%=results.name%>"><br>
                이메일  <input type="text" id="email" name="email" value="<%=results.email%>" readonly><br>
                연락처  <input type="text" id="phone" name="phone" value="<%=results.phone%>"><br>
                비밀번호 <input type="password" name="pwd" id="pwd"><br>
                비밀번호확인 <input type="password" name="pwd_confirm" id="pwd_confirm"><br>
                <input type="submit" value="수정">
                <input type="reset" value="취소">
                <input type="button" value="탈퇴하기">
            </fieldset>
        </form>
    </div>
    <% include ./parts/footer %>